.info {
  background-color: $baseBlack;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  div {
    width: 100%;
    min-height: 90vh;
    padding: 15% 10%;
    box-shadow: inset 0 0 200px $baseBlackShadow;
    h2 {
      margin-bottom: 5%;
      color: $fontLight;
      text-shadow: 1px 1px 1px $baseBlackOpacity;
      min-height: 25vh;
    }
    p {
      min-height: 25vh;
      letter-spacing: 3px;
      line-height: 2;
      margin-bottom: 30%;
      color: $fontLight;
    }
    button {
      width: 100%;
      aspect-ratio: 7/1;
      min-height: 30px;
      margin: 0 auto;
      box-shadow: inset 0 0 20px $highligthGold;
      background-color: rgba(255, 255, 255, 0.459);
      border: none;
      border-radius: 5px;
      font-style: italic;
      letter-spacing: 1px;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px $keyGold, inset 0 0 15px $highligthGold;
        a {
          color: $keyGold;
          text-shadow: 1px 1px 1px $baseBlack;
        }
      }
    }
    a {
      text-decoration: none;
      color: $baseBlack;
      text-shadow: 1px 1px 1px $highligthGold;
    }
  }
  div:nth-of-type(1) {
    background: linear-gradient(rgba(255, 255, 255, 0.158), rgba(0, 0, 0, 0.753)),
      url(../images/inside/insideA10.jpg.jpg);
    background-position: center;
  }
  div:nth-of-type(2) {
    background: linear-gradient(rgba(255, 255, 255, 0.158), rgba(0, 0, 0, 0.753)),
      url(../images/inside/insideA1.jpg.jpg);
    background-position: center;
    background-size: cover;
  }
}
