.popular {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  padding: 2vh 5% 4vh 5%;
  gap: 2vh;
  background-color: $baseBlack;
  h2 {
    width: 100%;
    color: $baseWhiteOpacity;
    text-align: center;
    padding: 2vh 1vw;
    text-shadow: 1px 1px 1px $keyGold;
    span {
      color: $keyGold;
      text-shadow: 1px 1px 1px $baseWhiteShadow;
    }
  }
  a {
    width: 30%;
    aspect-ratio: 7/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $baseBlack;
    box-shadow: 0 0 5px $baseWhiteOpacity;
    font-weight: bold;
    background-color: $baseWhiteShadow;
    border: none;
    border-radius: 5px;
    font-style: italic;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px $highligthGold;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 15px $keyGold, inset 0 0 20px $highligthGold;
      color: $keyGold;
      text-shadow: 1px 1px 1px $baseBlack;
    }
  }
}
