.search {
  min-height: 15vh;
  background-color: $baseBlack;
  padding: 2vh 0;

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 5px;
    gap: 1vh;

    div {
      color: $fontLight;
      width: 100%;
      height: 5vh;
      min-height: 35px;
      display: flex;
      align-items: center;
      padding: 1vh 1vw 0 1vw;
      border-top: 2px solid $keyGold;
      &:nth-of-type(1) {
        width: 100%;
      }
      label {
        width: 30%;
        color: $keyGold;
      }
      input {
        width: 70%;
        height: 100%;
        background-color: §baseWhiteOpacity;
        padding-left: 1vw;
        color: $baseBlackOpacity;
        border-radius: 5px;
        border: none;
      }
      select {
        width: 70%;
        height: 100%;
        background-color: §baseWhiteOpacity;
        padding-left: 1vw;
        color: $baseBlackOpacity;
        border-radius: 5px;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    button {
      width: 100%;
      height: 4vh;
      min-height: 30px;
      margin: 2vh auto 0 auto;
      box-shadow: inset 0 0 10px $highligthGold;
      background-color: $baseWhite;
      color: $baseBlackOpacity;
      text-shadow: 1px 1px 1px $keyGold;
      border: 2px solid $keyGold;
      border-radius: 5px;
      font-style: italic;
      letter-spacing: 1px;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 8px $keyGold;
        color: $keyGold;
        // text-shadow: 1px 1px 1px $baseBlackOpacity;
      }
    }
  }
}
