@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  a {
    font-size: 1.4rem;
  }
  h3 > a {
    font-size: 2.2rem;
  }
  nav {
    img {
      width: 20%;
    }
    div:nth-of-type(1) {
      width: 40%;
    }
    div:nth-of-type(2) {
      width: 40%;
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
  }
}
