@media only screen and (min-width: 480px) {
  //   h2 {
  //     font-size: 2.7rem;
  //   }
  //   h3 {
  //     font-size: 2.2rem;
  //   }
  //   h4 {
  //     font-size: 1.6rem;
  //   }
  //   a {
  //     font-size: 1.4rem;
  //   }
  //   h3 > a {
  //     font-size: 2.2rem;
  //   }
}
@media only screen and (min-width: 760px) {
  //   h2 {
  //     font-size: 3.8rem;
  //   }
  //   h3 {
  //     font-size: 2.2rem;
  //   }
  //   h4 {
  //     font-size: 2rem;
  //   }
  //   a {
  //     font-size: 1.8rem;
  //   }
  //   h3 > a {
  //     font-size: 2.2rem;
  //   }
  .search {
    form {
      div {
        width: 48%;
      }
      div:nth-of-type(1) {
        label {
          width: 14%;
        }
        input {
          width: 86%;
        }
      }
      button {
        width: 70%;
      }
    }
  }
  .info {
    div {
      width: 50%;
    }
  }
}
