@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arsenal SC", sans-serif;
}

h1,
h2 {
  font-family: "Cinzel Decorative", serif;
}

h3 {
  font-family: "Playfair Display SC", serif;
}

h1 {
  font-size: clamp(1.2rem, 5vw, 3.2rem);
}

h2 {
  font-size: clamp(1.3rem, 2vw, 3.8rem);
}

h3 {
  font-size: clamp(1.8rem, 8vw, 2.2rem);
}

h4 {
  font-size: clamp(0.8rem, 1.5vw, 1.4rem);
}

a {
  font-size: clamp(0.8rem, 4vw, 1.2rem);
}

h3 > a {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

label {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

input,
select {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

button {
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  font-family: "Arsenal SC", sans-serif;
}

img {
  width: 50px;
  aspect-ratio: 1;
}

nav {
  background-color: rgba(32, 36, 31, 0.6980392157);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav img {
  width: 30%;
  min-width: 90px;
  aspect-ratio: 3/1;
  object-fit: contain;
  overflow: hidden;
}
nav div:nth-of-type(1) {
  width: 70%;
  min-width: 250px;
  text-align: start;
  padding: 10px;
}
nav div:nth-of-type(1) h2 {
  color: rgba(255, 255, 255, 0.856);
  text-shadow: 1px 1px 5px rgba(32, 36, 31, 0.9176470588);
}
nav div:nth-of-type(1) h4 {
  color: #df9e25;
  font-style: italic;
  text-shadow: 1px 1px 5px rgba(32, 36, 31, 0.9176470588);
}
nav div:nth-of-type(2) {
  width: 100%;
  min-width: 358px;
  display: flex;
  flex-direction: column;
}
nav div:nth-of-type(2) ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0 3%;
}
nav div:nth-of-type(2) ul li {
  width: fit-content;
  max-width: 150px;
  flex: 1;
  aspect-ratio: 4/1;
  border: 1px solid #df9e25;
  box-shadow: 0 0 2px #ffd9ba;
  display: flex;
}
nav div:nth-of-type(2) ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #df9e25;
  text-shadow: 1px 1px 5px rgba(32, 36, 31, 0.9176470588);
}
nav div:nth-of-type(2) ul li a:hover {
  color: rgba(255, 255, 255, 0.856);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.856);
}
nav div:nth-of-type(2) h3 {
  text-align: end;
  padding: 0 8%;
  text-shadow: 1px 1px 5px rgba(32, 36, 31, 0.9176470588);
}
nav div:nth-of-type(2) h3 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.856);
}
nav div:nth-of-type(2) h3 a:hover {
  cursor: pointer;
  color: #df9e25;
}

header {
  background-image: url(/src/images/stil/stil2.jpg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}
header > div:nth-of-type(1) {
  background: linear-gradient(rgba(32, 36, 31, 0.6980392157), rgba(128, 128, 128, 0));
  height: 5vh;
}
header > div:nth-of-type(2) {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  border-top: 5px double #df9e25;
  border-bottom: 5px double #df9e25;
  background-color: rgba(32, 36, 31, 0.6980392157);
  padding: 2% 10%;
  position: relative;
}
header > div:nth-of-type(2) h4 {
  text-align: center;
  margin-top: 1%;
  color: #df9e25;
  font-style: italic;
  text-shadow: 1px 1px 5px rgba(32, 36, 31, 0.9176470588);
}
header > div:nth-of-type(2) h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
  text-shadow: 1px 1px 5px rgba(32, 36, 31, 0.9176470588);
}
header > div:nth-of-type(2) img {
  width: 30%;
  aspect-ratio: 3/1;
  object-fit: contain;
  position: absolute;
  top: -47%;
  left: 40%;
}

.search {
  min-height: 15vh;
  background-color: #20241f;
  padding: 2vh 0;
}
.search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 5px;
  gap: 1vh;
}
.search form div {
  color: rgba(255, 255, 255, 0.856);
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 1vh 1vw 0 1vw;
  border-top: 2px solid #df9e25;
}
.search form div:nth-of-type(1) {
  width: 100%;
}
.search form div label {
  width: 30%;
  color: #df9e25;
}
.search form div input {
  width: 70%;
  height: 100%;
  background-color: §baseWhiteOpacity;
  padding-left: 1vw;
  color: rgba(32, 36, 31, 0.6980392157);
  border-radius: 5px;
  border: none;
}
.search form div select {
  width: 70%;
  height: 100%;
  background-color: §baseWhiteOpacity;
  padding-left: 1vw;
  color: rgba(32, 36, 31, 0.6980392157);
  border-radius: 5px;
  border: none;
}
.search form div select:hover {
  cursor: pointer;
}
.search form button {
  width: 100%;
  height: 4vh;
  margin: 2vh auto 0 auto;
  box-shadow: 0 0 5px #df9e25, inset 0 0 40px #ffd9ba;
  background-color: rgba(255, 255, 255, 0.9058823529);
  color: rgba(32, 36, 31, 0.6980392157);
  text-shadow: 1px 1px 1px #df9e25;
  border: 1px solid #df9e25;
  border-radius: 5px;
  font-style: italic;
  letter-spacing: 1px;
}
.search form button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #df9e25;
  color: #df9e25;
  text-shadow: 1px 1px 1px rgba(32, 36, 31, 0.6980392157);
}

@media only screen and (min-width: 760px) {
  .search form div {
    width: 48%;
  }
  .search form div:nth-of-type(1) label {
    width: 14%;
  }
  .search form div:nth-of-type(1) input {
    width: 86%;
  }
  .search form button {
    width: 70%;
  }
}
@media only screen and (min-width: 1025px) {
  nav img {
    width: 20%;
  }
  nav div:nth-of-type(1) {
    width: 40%;
  }
  nav div:nth-of-type(2) {
    width: 40%;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=main.css.map */
