$baseBlack: #20241f;
$baseWhite: #ffffff;
$secWhite: #fff7e2;
$baseWhiteOpacity: #ffffffe7;
$baseWhiteShadow: #fffbf2ea;
$baseBlackOpacity: #20241fb2;
$baseBlackShadow: #20241fea;
$highligthGold: #ffd9ba;
$keyGold: #df9e25;
$fontLight: rgba(255, 255, 255, 0.856);
